
/.vs
/TodoListApi/obj
TodoListApi/obj/Debug/net8.0/TodoListApi.AssemblyInfoInputs.cache
TodoListApi/obj/Debug/net8.0/TodoListApi.AssemblyInfo.cs
/TodoListApi/bin/Debug
/TodoListApi/obj/Debug/net8.0
TodoListApi/obj/Debug/net8.0/TodoListApi.assets.cache
/TodoListApi/obj
